.ui-content {
    text-align: center;
}
img.destaque_img {
    /*background: #F3F3F3;*/
    border-radius: 9px;
    width: 100% !important;
}
/*small {
    color: #908E8E;
}*/
div#label_home{
   background:transparent url('../../images/bg.png') top no-repeat }
}
.price {
    color: #0BBCC7;
}
.product_price {
    color: #1F8692;
    font-size: small;
}
.home_img_logo {
    border-radius: 50%;
    border: 9px solid #DDF5DD;
}
.on{
    background-color: #53FF2E !important;
}
