{{extend 'layout_M.html'}}



{{block main}}

    <img class="home_img_logo" src="{{=URL('static','images/logo/logo_m.png')}}" alt="" />
    <p>
        Uma empresa que já atua a mais de 15 anos no mercado com a fabricação e comercialização de moda para bebê.</p>

        <address>
          <strong>Endereço, Ind.</strong><br>
          Fernandes Vieira 234, José Pinheiro<br>
          Campina Grande, PB 58407-490<br>
          <abbr title="Phone">P:</abbr> (83) 3322-8273
        </address>

        <address>
          <a href="mailto:nallu.paiva@gmail.com">nallu.paiva@gmail.com</a>
        </address>
{{end}}
