{{extend 'layout_M.html'}}

{{block head}}
{{end}}


{{block main}}
        <!-- ul produtos -->
        <ul data-role="listview" data-inset="true" data-autodividers="true" data-filter="true" data-filter-placeholder="Search fruits...">
            {{for row in rows:}}
            <li><a href="{{=URL('mobile','produto_destaque', args=[row['id']])}}"  data-transition="slide">
                {{if row['thumbnail']:}}
                <img src="{{=URL('home', 'download', args=[row.thumbnail])}}">
                {{else:}}
                <img src="{{=URL('static','images/no_picture.png')}}">
                {{pass}}
                <h2>{{=row.name}}</h2>
                <p >cod:<i>{{=row.code}} </i>  <span class="product_price"> {{=format_price(row.unit_price)}}</span></p></a>
            </li>
            {{pass}}
        </ul>

{{end}}
